.missao-visao-valores {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding-top: 20px;
  margin: 0 auto;
}

.missao-visao-valores-conteudo{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 600px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  
}

