.seja-doador {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p2);
  overflow: hidden;
  align-items: center;
}

.seja-doador img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}


.seja-doador h2 {
  padding-left: 30px;
  margin-bottom: 32px;
}

.seja-doador h3 {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 32px;
  padding-left: 30px;
}

.seja-doador p {
  text-transform: uppercase;
  margin-bottom: 32px;
  padding-left: 30px; 
}

.button {
  border: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--cor-p5);
  padding: 0.725rem 1.25rem;
  border: 0.0625rem solid var(--cor-p3);
  border-radius: 0.25rem;
  font-weight: bold;
}

.button:hover {
  background-color: var(--cor-p4);
}

.seja-doador img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  
}

@media (max-width: 800px) {
  .seja-doador {
    box-shadow: initial;
  }
  .seja-doador {
    grid-template-columns: 1fr;
  }
  .seja-doador {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .seja-doador {
    display: none;
  }
}

