.intro-img-cadastro {
  background:
    hsla(199, 75%, 75%, 80%);
  height: 700px;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.intro-img-cadastro::before {
  content: "";
  background-image: url("../../img/fotos/grupopessoas.jpg");
  background-position: center;
  background-size: 100%;
  height: 700px;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}

.box{
  color: white;
  width: 0 auto;
  background-color: rgb(37, 109, 133);
  padding: 15px;
  border-radius: 30px;
  width: 30%;
  margin: 0 auto;
  margin-top: 150xp;
  margin-bottom: 150xp;
}
fieldset{
  border: 3px solid royalblue;
}
legend{
  border: 1px solid royalblue;
  padding: 10px;
  text-align: center;
  background-color: royalblue;
  border-radius: 15px;
}
.inputBox{
  position: relative;
}
.inputUser{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput{
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
  top: -20px;
  font-size: 12px;
  color: dodgerblue;
}
#data_nascimento{
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
#submit{
  background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover{
  background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

.footer{
  margin-top: 100px;
}